[user]
	name = William Rose
	email = william.rose@capitalone.com
[core]
	editor = vim
	excludesfile = /Users/william.rose/.gitignore_global
	pager = less -+$LESS -FRX
[branch]
	autosetupmerge = true
[merge]
	tool = opendiff
	algorithm = patience
[diff]
	renames = copy
	renamelimit = 0
	tool = opendiff
	algorithm = patience
	prompt = false
[push]
	default = tracking
[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
	interactive = auto
[alias]
	a = add
	aa = add .
	c = commit
	cm = commit -m
	d = diff --color-words
	mm = merge
	mf = merge --ff-only
	mt = mergetool
	pu = pull
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	s = status
	st = stash
	stl = stash list
	stp = stash pop
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.git_template
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[rerere]
	enabled = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[credential]
	helper = osxkeychain
